
<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
         <h2><%= Listing.title %></h2>
        </div>
        <div class="col-6 offset-3">
            <div class="card listing-card" style="width: 20rem;">
                <img src="<%= Listing.image.url%>" class="card-img-top" alt="List image"  style="height: 13rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                       <i> <b>ownered by - <%= Listing.owner.username %> </b></i>
                     </p> 
                  <p class="card-text">
                       <%= Listing.description %>
                    </p> 
                      <p>  &#x20B9;<%= Listing.price.toLocaleString("en-IN")%>/night</p>
                       <p><%= Listing.location %> </p>
                       <p><%=  Listing.country  %>   </p>             
                  
                  
                </div>
           </div>
        </div>
    </div>
      <% if(currUser && currUser._id.equals(Listing.owner._id)) { %>
        <form method="get" action="/listings/<%= Listing._id %>/edit" class="btnForm">
            <button class="btn btn-dark   offset-3" >Edit </button>
       </form>
        <form method="post" action="/listings/<%= Listing._id %>?_method=Delete" class="btnForm">
           <button class="btn add-btn   ">Delete </button>
        </form> 
      <% } %>

     
     <div class="col-8 offset-3">
            <hr>
            <% if(currUser){ %>
            <h4>Leave a comment</h4>
            <form method="POST" action="/listings/<%= Listing._id %>/reviews" novalidate class="needs-validation">
              
                   
                    <!-- //<input type="range" min="1" max="5" class="form-range" name="review[rating]" id="rating"> -->
               
               <div class="mb-3">
                <lable for="rating" class="form-lable">Rating</lable>
                <fieldset class="starability-slot">
                  
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>
              <div class="mb-3">
                <lable for="comment" class="form-lable">Comment</lable>
                <textarea class="form-control" name="review[comment]" col="10" rows="5" id="comment" required></textarea>
                <div class="invalid-feedback">please submit some comment </div>
              </div>
           
              <button class="btn btn-outline-dark">submit</button>
            </form>
            <% } %>

           
                <hr>
             
            <%if(Listing.reviews.length >0){  %>
                <div class="row">
                  <p><b> All Reviews</b></p>
                    <% for (review of Listing.reviews) { %>
                        <div class="card  col-5 ms-3 mb-3" >
                            <div class="card-body mb-3">

                                <h5 class="card-title">@<%= review.author.username %></h5>
                                <p class="starability-result card-text" data-rating="<%= review.rating %>">

                               <p class="card-text"><%= review.comment %></p>
                         
                              
                              </p>
        
                        </div>
                <!-- <form class="mb-3" 
                      method="POST" 
                      action="/listings/<%= Listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                > -->
                 <form method="post" action="/listings/<%= Listing._id %>/reviews/<%= review._id %>?_method=DELETE">

                    <button class="btn btn-sm btn-dark">Delete</button>
              </form>
                                    
         </div>
        <%  }%>
      </div>
          <% } %>   
          
           
       </div>
      
  
    
    
</body>
